@model CollegeAndCourses.Models.College

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>

    <div class="d-flex justify-content-between">
        <h4>College</h4>
        <a asp-action="Index" class="btn btn-danger">Back</a>
    </div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Grade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Grade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PreferredContactMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PreferredContactMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsNAACAccrediet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsNAACAccrediet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecevieNewsLetter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecevieNewsLetter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HowManyStudents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HowManyStudents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
        <dt class="col-sm-10">
            @Html.DisplayNameFor(model => model.Branches)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Branches)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CollegeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
